@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

* {
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

h3 {
    color: white;
    margin-top: 0px;
}

/* tete de page */

header {
    position: fixed;
    background: #ffff1c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00c3ff, #ffff1c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00c3ff, #ffff1c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    min-height: 75px;
    width: 100%;
    padding-left: 10px;
    box-shadow: 0px 1px 5px darkslategray;
}

header img {
    width: 160px;
}

nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav a {
    color: white;
    font-size: 20px;
    background-color: #ffffff60;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* corps de page */

h1 {
    display: flex;
    justify-content: center;
    color: gray;
    font-weight: 500;
    padding-top: 105px;
    padding-bottom: 28px;
    margin: 0px;
}

div.corps {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: 696px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    margin: 25px;
    max-height: 500px;
    width: 500px;
    color: white;
    box-shadow: -1px 1px 5px darkslategray;
    border-radius: 25px
}

.item {
    margin: 10px;
    height: 40px;
    border-radius: 10px;
    padding: 10px;
}

.button {
    background-color: #59698D;
    color: white;
    font-style: italic;
}

.connexion {
    background-color: #615DFA;
}

.inscription {
    background-color: #6532AC;
}

a.logout {
    color: black;
    text-decoration: none;
}

/* pied de page */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #444444;
    min-height: 63px;
    color: white;
    box-shadow: 0px -1px 5px darkslategray;
}

/****** STYLES DES MENUS ******/

.menu {
    background: #1c92d2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #f2fcfe, #1c92d2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #f2fcfe, #1c92d2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 1px 1px 5px darkslategray;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 15%;
    padding: 10px;
}

.menu img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.menu div {
    padding-bottom: 20px;
    border-radius: 10px;    
    background-color: #ffffff30;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    padding: 10px;
}


/****** STYLES DES PAGES ******/

div h2 {
    width: 100%;    
    display: flex;
    justify-content: center;
}

div.page {
    padding-top: 75px;
    min-height: 793px;
    display: flex;
    flex-direction: row;
}

div.page_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 20px;
}

.page_content img {
    margin-top: 50px;
}

.infobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #615DFA;
    margin-bottom: 10px;
    height: 70px;
    width: 50%;
    color: white;
    box-shadow: -1px 1px 5px darkslategray;
    border-radius: 10px;
    font-size: 20px;
}

.infobox2 {
    background-color: #afadff;
}

.infobox3 {
    background-color: #1c92d2;
    width: 80%;
    align-items: flex-start;
    padding-left: 10px;
    box-sizing: border-box;
}

.ital {
    font-style: italic;
}

.infos {
    font-style: italic;
    font-size: 10;
    color: gray;
}

.info {
    color: white;
}


/****** STYLES DES MESSAGES ******/

.message {
    display: flex;
    margin-bottom: 10px;
    height: 70px;
    width: 90%;
    color: white;
    font-size: 20px;
}

.message_sender {
    text-align: center;
    height: 30%;
    padding: 10px;
    width: 10%;
    margin-right: 10px;
    background-color: #afadff;
}

.message_sender_me {
    text-align: center;
    height: 30%;
    padding: 10px;
    width: 10%;
    margin-left: 10px;
    background-color: #1c92d2;
}

.message_content {
    padding-left: 10px;
    width: 80%;
    background-color: #1db7ff;
    box-shadow: -1px 1px 5px darkslategray;
    border-radius: 10px;
    box-sizing: border-box;
}

.message_date {
    font-style: italic;
    font-size: 10;
    color: gray;
}

